@media  (max-width:375px)
{
    main{
        width: 280px;
        margin: 10px ;
        padding: 10px;
        flex-direction: column;
    }

    .left{
        height: 50%;
        width: 100%;

        padding: 5px;
        margin-bottom: 40px;
    }

    .left .content h1{
        font-size:18px;
        margin-bottom:7px;
    }
    .left .content p{
        font-size: 10px;
    }
    .right{
        width: 100%;
        height: 50%;
        border-radius: 7px;
    }
    .right .price{
        height: 40px;
        bottom: 20px;
        padding: 1px;
    }
    .right .price .content{
        border-radius: 4px;
    }
    .right .price .content p{
        font-size: 11px;
        font-weight: 400;
    }
    .right .form{
        border-radius: 4px;
    }
    .right .form .container{
        padding: 10px;
        
    }
    .right .form .container .content{
        height: 30px;
    }
    .right .form .container .content input{
        border-radius: 2px;
        font-size: 11px

    }
    .right .form .container .content input::placeholder{
        font-size: 11px;

    }
    .right .form .container .content button{
        font-size: 13px;
        border-radius: 2px;
    }
    .right .form .container .content p{
        font-size:9px;
        margin-top:3px ;
    }
    .right .form .container .content p span{
        font-size:9px;
    }

}
    
@media (min-width:375px) and (max-width:870px) {
    
}