*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    height: 580px;
   min-width:350px;
    background-color: #1F1F1F;
    border-radius: 10px;
}
main .coutainer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 23% 2% 9% 8% 11% 11% 11% 11% 11%;
    grid-template-areas:"img" "h2" "h5" "p" "Git" "Front" "Link" "Twit" "insta";
    justify-content: center;
    align-items: center;
}
main .coutainer img{
    grid-area: img;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    justify-self: center;
}
main .coutainer h2{
    grid-area: h2;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
main .coutainer h5{
    font-size: 10px;
    grid-area: h5;
    color: #C4E268;
    text-align: center;
    margin: 0;
}
main .coutainer p{
    font-size: 15px;
    grid-area: p;
    text-align: center;
    margin-bottom:10px ;

}
main .coutainer button{
    width: 100%;
    background-color: #333333;
    justify-self: center;
    border: none;
    padding: 15px;
    border-radius: 9px;
    margin-bottom: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
}
main .coutainer button a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease;
    
}
.GitBtn{

    grid-area: Git;
}
.FrontBtn{
    grid-area: Front;
}
.LinkedinBtn{
    grid-area: Link;
}
.TwitterBtn{
    grid-area: Twit;
}
.instaBtn{
    grid-area: insta;
}
main .coutainer button:hover{
    background-color: #C4E268;
}
main .coutainer button:hover >a
{
    background-color: #C4E268;
    color: #1F1F1F; 
}


@media (max-width:350px) {
    main{
        height: 400px;
       min-width:200px;
        background-color: #1F1F1F;
        border-radius: 10px;
    }
    main .coutainer{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 23% 2% 9% 8% 11% 11% 11% 11% 11%;
        grid-template-areas:"img" "h2" "h5" "p" "Git" "Front" "Link" "Twit" "insta";
        justify-content: center;
        align-items: center;
    }
    main .coutainer img{
        grid-area: img;
        height: 65px;
        width: 65px;
        border-radius: 50%;
        justify-self: center;
    }
    main .coutainer h2{
        grid-area: h2;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
    }
    main .coutainer h5{
        font-size: 7px;
        grid-area: h5;
        color: #C4E268;
        text-align: center;
        margin: 0;
    }
    main .coutainer p{
        font-size: 7px;
        grid-area: p;
        text-align: center;
        margin-bottom:10px ;
    
    }
    main .coutainer button{
        width: 180px;
        background-color: #333333;
        justify-self: center;
        border: none;
        padding: 8px;
        border-radius: 9px;
        margin-bottom: 17px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    main .coutainer button a{
        font-size: 9px;
        text-decoration: none;
        color: white;
        font-weight: 600;
        transition: all 0.3s ease;
        
    }
}