:root{
    --Primary-Red: hsl(0, 78%, 62%);
    --Primary-Cyan: hsl(180, 62%, 55%);
    --Primary-Blue: hsl(212, 86%, 64%);
    --Primary-Orange: hsl(34, 97%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
/* FRAME WORK START  */

/* FRAME WORK END  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: var(--Very-Light-Gray);
}
main{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    
}
/* TOP START  */
.top{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 500px;

}
.top .content p:first-child{
    font-weight: 200;
    font-size:30px;
    line-height: 1.2;
}
.top .content p:first-child span{
    font-size: 30px;
    font-weight: 600;
    color: var(--Very-Dark-Blue);

}
.top .content h1{
    font-weight: 600;
    font-size: 30px;
    color: var(--Very-Dark-Blue);
}
.top .content p:last-child{
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin-top:12px;
    color: hsl;
}

/* BOTTOM */
.bottom{
    height: 70%;
    width: 100%;
}
.bottom .container{
    height: 100%;
    width: 100%;
    display: flex;
}
.bottom .container .left{
    height: 100%;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bottom .container .mid{
    height: 100%;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.bottom .container .right{
    height: 100%;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bottom .boxes{
    height: 200px;
    width: 70%;
    background-color:white;
    border-radius: 5px;
    box-shadow: -1px 7px 16px -4px rgba(89,85,85,0.75);
}
.bottom .boxes .content{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 20px;
}
.bottom .boxes .content h3{
    font-size: 18px;
    color: hsl(234, 12%, 34%);

}
.bottom .boxes .content p{
    font-size: 14px;
    margin-top: 4px;
    color: hsl(229, 6%, 40%);
}

.bottom .boxes .content span{
    display: flex;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
}
.bottom .box1 .content span{
    background:  url(../ProjectInfo/images/icon-supervisor.svg) no-repeat;
    background-size: cover;
    
}
.bottom .box2 .content span{
    background-image:  url(../ProjectInfo/images/icon-team-builder.svg);
    background-size: cover;

}
.bottom .box3 .content span{
    background-image:  url(../ProjectInfo/images/icon-calculator.svg);
    background-size: cover;
}
.bottom .box4 .content span{
    background-image:  url(../ProjectInfo/images/icon-karma.svg);
    background-size: cover;
}
.bottom .box1 {
    border-top: 3px solid hsl(180, 62%, 55%);
}
.bottom .box2 {
    border-top: 3px solid hsl(0, 78%, 62%);
}
.bottom .box3 {
    border-top: 3px solid hsl(212, 86%, 64%);
}
.bottom .box4 {
    border-top: 3px solid hsl(34, 97%, 64%);
}
